<div id="<%= dom_id listing %>" class="carousel slide">

  <div class="carousel-indicators">

    <% listing.photos.each_with_index do |photo, index| %>
      <button type="button" data-bs-target="#<%= dom_id listing %>" data-bs-slide-to="<%= index %>" class="active" aria-current="true" aria-label="Slide <%= index + 1 %>" style="width:8px; height:8px;"></button>
    <% end %>

  </div>

  <div class="carousel-inner">
    <% listing.photos.each_with_index do |photo, index| %>

      <div class="carousel-item <%= 'active' if index.zero? %>">
        <%# <img src="" class="d-block w-100" alt="..."> %>
        <%= cl_image_tag photo.key, width: 400, class: 'd-block w-100', loading: 'lazy' %>
        <i class="fa-regular fa-heart"></i>
      </div>

    <% end %>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#<%= dom_id listing %>" data-bs-slide="prev">
    <%# <span class="carousel-control-prev-icon" aria-hidden="true"></span> %>
    <i class="fa-solid fa-circle-chevron-left" aria-hidden="true"></i>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#<%= dom_id listing %>" data-bs-slide="next">
    <i class="fa-solid fa-circle-chevron-right" aria-hidden="true"></i>
    <span class="visually-hidden">Next</span>
  </button>

</div>
