<div class="container">
  <h1>All my listings</h1>
    <div class="row">
      <div class="col-md">
        <% @listings.each do |listing| %>
          <div class="card w-100 mb-3" style="overflow:hidden; padding: 0;">
            <div class="row">
              <div class="col-md-7">
                <div class="card-body">
                  <h3><strong><%= listing.name %></strong></h3>
                  <p>Location: <%= listing.location %></p>
                  <p>Details: <%= listing.details.truncate(120) %></p>
                  <p>Maximum number of guests: <%= listing.max_guests %></p>
                  <p>Price per night: $<%= listing.price_per_night %></p>
                  <%= link_to "Delete listing", listing_path(listing), class:"btn btn-custom btn-large", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{listing.name}?"}%>
                </div>
              </div>
              <div class="col-md-5" style="background: url(<%= cl_image_path listing.photos.first.key %>); background-size: cover; background-position: center; border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
