<div class="container my-3">
  <h2><%= @listing.name %></h1>
  <p><%= @listing.location %></p>
  <% @listing.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <div class="mt-5">
    <div class="container d-flex align-items-start">
      <div class="col-md-7 me-5">

        <h4 class="my-2 fw-bold"><%= "Apartment hosted by #{@listing.host.full_name}" %></h4>
        <div class="d-flex listing-details fw-light">
            <%= "#{@listing.max_guests} guests" %>
          <ul class="d-flex">
            <li class="me-4">Studio</li>
            <li><%= "#{@listing.max_guests} bedrooms" %></li>
          </ul>
        </div>
        <hr>
        <div>
          <ul class="list-unstyled" id="listing-standard-details">
            <li class="d-flex align-items-center">
              <i class="fa-solid fa-door-open"></i>
              <div class="ms-1">
                <p class="my-0">Self check-in</p>
                <p class="smallest-text listing-general-details-text my-0">Check yourself in with the smartlock.</p>
              </div>
            </li>
            <li class="d-flex align-items-center">
              <i class="fa-solid fa-location-dot"></i>
              <div class="ms-2">
                <p class="my-0">Great location</p>
                <p class="smallest-text listing-general-details-text my-0">100% of recent guests gave the location a good rating.</p>
              </div>
            </li>
            <li class="d-flex align-items-center" id="freeCancellation">
              <i class="fa-regular fa-calendar"></i>
              <div class="ms-2">
<<<<<<< HEAD
                <p class="listing-general-details-title my-0">Free cancellation within 48 hours.</p>
=======
                <p class="listing-general-details-title my-0">Free cancellation for 48 hours.</p>
>>>>>>> master
              </div>
            </li>
          </ul>
        </div>
      <hr>
      <p class="my-4"><%= @listing.details %></p>
    </div>
        <div
          class="listing-card col-md-5 sticky-top"
          style="top: 50px"
          data-controller="datepicker"
          data-datepicker-price-value="<%= @listing.price_per_night %>"
          data-datepicker-cleaning-fee-value="26"
          data-datepicker-service-fee-value="73"
          >
          <div class="d-flex mb-3">
            <h3 class="fw-bolder mb-0 me-2"><%= "$#{@listing.price_per_night} SGD" %></h3>
            <p class="align-self-end mb-1">night</p>
          </div>
          <div>
            <div class="d-grid gap-2">
              <div>
                <div class="datepicker">
                  <div data-action="click->datepicker#open" style="padding-left: 8px; border-right: solid black; border-width: 1px; width: 50%;">
                    <small>CHECK-IN</small><br>
                    <p data-datepicker-target="startDate"><small style="color: grey">Add Date</small></p>
                  </div>
                  <div data-action="click->datepicker#open" style="padding-left: 8px;">
                    <small>CHECK-OUT</small><br>
                       <p data-datepicker-target="endDate"><small style="color: grey">Add Date</small></p>
                  </div>
                </div>

                <input data-datepicker-target="datepicker" style="visibility: hidden"/>
                 <%= form_with url:new_listing_booking_path(@listing), method: "get" do |form| %>
                  <%= form.date_field :start_date, style: "display: none", data: {
                    datepicker_target: 'startDateInput'
                  } %>
                  <%= form.date_field :end_date, style: "display: none", data: {
                    datepicker_target: 'endDateInput'
                  } %>

                  <%= form.label :guests, "NUMBER OF GUESTS", class:"smallest-text" %>
                  <%= form.number_field :guests, class: "form-control datepicker mb-3 mt-0", max: @listing.max_guests, required: true %>
                  <%= form.submit "Reserve", id: "reserve", class:"btn btn-custom btn-large", style: "width: 100%", disabled: true, data: {
                    datepicker_target: 'submit'
                  } %>
                <% end %>
              </div>
            </div>
            <p class="smallest-text text-center">You won't be charged yet</p>
          </div>
          <div class="d-flex justify-content-between price-breakdown pt-4">
            <p><%= "$#{@listing.price_per_night} SGD" %><span data-datepicker-target="totalNights"></span></p>
            <p data-datepicker-target="totalNightsPrice"></p>
          </div>
          <div class="d-flex justify-content-between price-breakdown text-reset">
            <p><%= "Cleaning fee" %></p>
            <p><%= "$26 SGD" %></p>
          </div>
          <div class="d-flex justify-content-between price-breakdown" >
            <p><%= "Airbnb service fee" %></p>
            <p><%= "$73 SGD" %></p>
          </div>
          <hr>
          <div class="d-flex justify-content-between price-breakdown text-reset">
            <p><strong><%= "Total before taxes" %></strong></p>
            <p data-datepicker-target="totalPrice"><strong></strong></p>
          </div>
        </div>
      </div>
      <hr>
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= [@marker].to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
