<div class='container'>
  <h1 style="font-size: 2.2rem">Trips</h1><br>
  <div>
    <h2 style="font-size: 1.5rem"><strong>Upcoming reservations</strong></h2>
      <div class="row">
      <div class="col-md">
        <% current_user.bookings.each do |booking| %>
          <% if booking.start_date > Date.today %>
            <div class="card w-100 mb-3 p-0">
              <div class="row">
                <div class="col-md-7">
                  <div class="card-body">
                    <div>
                        <h3 style="1.2rem"><%= booking.listing.name %></h3>
                        <p><%= booking.listing.location %></p>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-4 border-end">
                        <small><%= booking.start_date%> - <%= booking.end_date %></small><br>
                      </div>
                      <div class="col-8">
                      <small style="font-size: 0.8rem; color: grey;"><%= booking.listing.details.truncate(120) %></small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5" style="background: url(<%= cl_image_path booking.main_image_key %>); background-size: cover; background-position: center; border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
                  <span class="badge text-bg-light">
                    <small>In <%= distance_of_time_in_words(Date.today, booking.start_date) %></small>
                  </span>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <br>
    <div>
    <h2 style="font-size: 1.5rem"><strong>Where you've been</strong></h2>

      <div class="row">
        <% current_user.bookings.each do |booking| %>
          <% if booking.start_date < Date.today %>

            <div class="col-sm-4">
              <div class="booking-card">
                <div class="row">
                  <div class="col-sm-4">
                    <%= cl_image_tag booking.main_image_key %>
                  </div>
                  <div class="col-sm-8">
                    <div class="card-body">
                      <p><strong><%= booking.listing.location %></strong></p>
                      <p style="font-size: 0.8rem; color: grey;">Hosted by <%= booking.listing.host[:first_name] + ' ' + booking.listing.host[:last_name] %></p>
                      <p style="font-size: 0.8rem; color: grey;"><%= booking.start_date %> - <%= booking.end_date %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
