<div class="container host">

  <div style="height:5rem; padding-top: 2rem;" class="host-header">

    <ul class="host-listing-display">
      <li>
        <%= link_to "Listings", host_bookings_path %>
      </li>
      <li>
        <%= link_to "Stats",  stats_bookings_path %>
      </li>
    </ul>
  </div>

  <div>
    <div class="earning-title">
      <h2>Earnings</h2>
    </div>

    <hr>

    <div class="mt-4 ">
      <div style="height:5rem; padding-top: 2rem;" class="booking_link">
    <%= link_to "Lifetime", stats_bookings_path   %>
    <%= link_to "Current Year", stats_bookings_path(filter: "current_year")   %>
    <%= link_to "Current Month", stats_bookings_path(filter: "current_month")   %>
  </div>

    </div>

    <div class="mt-4 earning-total">
      <h1>$<%=  Booking.total_earnings(@bookings).round(2) %></h1>
      <p class="earning-description">Booked earnings for 2023</p>
    </div>



  </div>
</div>
