<div class="position-relative" data-controller="search-filter">

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "airbnb-logo.png" %>
      <% end %>

      <% if @show_navbar %>
        <nav class="navbar navbar-light">
          <div class="container-fluid">
            <form>
              <%# <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-custom-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button> %>

              <div data-action="click->search-filter#appear" class="search-bar border-light d-flex">
                <div class="piece lighter border-right">Anywhere</div>
                <div class="piece lighter border-right">Any week</div>
                <div class="piece gray">Add guests</div>
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>

            </form>
          </div>
        </nav>

        <div>
          <%= link_to "Airbnb Setup", new_listing_path, class:"btn btn-outline-custom" %>
        </div>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Bookings", bookings_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Host Bookings", host_bookings_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>


  <%= render 'listings/search-filter' %>
</div>
